.Button {
    background: #C12020;
    border: 4px solid #932323;
    height: 40px;
    width: 300px;
    outline: none;
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 18px;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
}