.Board {
    width: 340px;
    height: 340px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.Square {
    width: 33.3333%;
    height: 33.3333%;
    cursor: pointer;
    position: relative;
}

.Square:nth-child(1), .Square:nth-child(2), .Square:nth-child(4), .Square:nth-child(5), .Square:nth-child(7), .Square:nth-child(8) {
    border-right: 4px solid #000000;
}

.Square:nth-child(1), .Square:nth-child(2), .Square:nth-child(3), .Square:nth-child(4), .Square:nth-child(5), .Square:nth-child(6) {
    border-bottom: 4px solid #000000;
}

.Square img {
    width: 50%;
    height: 50%;
    object-fit: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 680px){
    .Board {
        width: 290px;
        height: 290px;
    }
}