.GameStatus {
    border: 4px solid #932323;
    width: 80%;
    margin: 0 auto 10px;
    padding: 0 15px;
    height: 60px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
}

.GameStatus span {
    color: #ffffff;
    font-size: 32px;
    font-weight: bold;
}