.Header {
    display: flex;
    width: 100%;
}

.Header a {
    display: inline-block;
    width: 50%;
    background: #000;
    text-align: center;
    color: #fff;
    text-decoration: none;
    padding: 20px 0;
    font-size: 24px;
    font-weight: bold;
}

.Header a.active {
    background: #C12020;
}