* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Baloo Chettan 2', cursive;
  background: #fceaa4;
}

h1 {
  text-align: center;
  font-size: 48px;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
}

@media screen and (max-width: 960px){
  h1 {
    margin: 10px 0;
    font-size: 36px;
  }
}

@media screen and (max-width: 420px){
  h1 {
    margin: 5px 0;
    font-size: 24px;
  }

  h2 {
    font-size: 18px;
  }
}